[Unit]
Description=WiFi Monitoring Service
After=network.target
Before=wifi-visualizer.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/selmi/WifiVisualizer
ExecStart=/bin/bash /home/selmi/WifiVisualizer/continuous_monitor.sh
StandardOutput=append:/var/log/wifi-monitor.log
StandardError=append:/var/log/wifi-monitor-error.log
SyslogIdentifier=wifi-monitor
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
